/CMakeFiles/
/CMakeCache.txt
/cmake-build-*

*.o
*.obj
*.so
*.dll
*.a
*.lib
*.exe
*.out

.vscode/
*.code-workspace
/benchmark/build-release/*
/benchmark/data/*

/build/

parlaylib/build/
parlaylib/*.o
parlaylib/*.so

*_deps/
